.FlappyBirdContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Settings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 48px;
}